

/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    background-color: #fff;
    font-size: 18px;
    color: #656565;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'montserratlight';
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}
.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
}
a{}
.clear {
    clear: both;
}
img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}
.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}
.form-control {
    display: inline-block;
    width: 60%;
    height: 35px;
    padding: 6px 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #182e4c;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #5e9a28;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color:#000000;
}
h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3.75rem;
    font-family: 'montserrathairline';
}
h2 {
    font-size:3rem;
    line-height: 3rem;
    font-family: 'montserratbold';
}
h3 {
    font-size:1.875rem;
    line-height: 2.5rem;
    font-family: 'montserratlight';
}
h4 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-family: 'montserratbold';
}
h5 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color:#223d61;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.375rem;
    margin-bottom:30px;
}
p:last-child {
    margin-bottom: 0px;
}
.text {
    color: #333333;
}
.coloricon i {
    color: #5e9a28;
}
.colorsbg{
    background:#FFE1BD ;
}
.whitetext {
    color: #fff;
}
.blackbg{
    background: #000;
}
.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}


/*
Section
*/
.sections {
    padding-top:85px;
    padding-bottom: 105px;
    overflow: hidden;
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}

.heading {
    margin-bottom: 4rem;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
}
.home-overlay {
    background-color:rgba(255, 225, 189, 0.9);
    width: 100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
}
.home-overlay-fluid {
    background-color: rgba(41, 41, 41, 0.68);
    width: 80%;
    margin: auto;
}
.overlay-img {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
}
.no-padding {
    padding: 0 !important;
    margin:0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    height: 2px;
    width: 60px;
    margin: 20px auto;
    background: #000;;
}
.separator2 {
    height: 2px;
    width: 60px;
    margin:20px 0px;
    background: #000;
}
.separator3 {
    height: 2px;
    width: 50px;
    margin:10px auto;
    background: #fff;
}
.separator4 {
    height: 2px;
    width: 30px;
    margin:20px 0px;
    background: #5e9a28;
}
/*section:nth-of-type(odd) {
    background-color: #F9F9F9;
}*/
/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #522bac;
    border-color: #522bac;
}

.btn {
    display: inline-block;
    min-width: 180px;
    padding: .4em;
    height: 45px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    font-size: 1.125rem;
    border-radius: 50px;
    margin-top: 20px;
    background-color: #000;
    transition: .5s; 
    border:1px solid #000;

}
.btn:hover {
    background-color:#ffcb93;
    color: #000;
    text-decoration: none;
    border:1px solid #ffcb93;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover {
    color: #333;
    background-color: #fff;
    border-color:#000;
}

/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-top-120 {
    margin-top: 120px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #5e9a28;
    font-weight: 400;
}

/*for placeholder changes*/

input::-webkit-input-placeholder {
    color: #555555;
}
input::-moz-placeholder {
    color: #555555;
}
input::-ms-input-placeholder {
    color: #555555;
}

/*for image bg*/


/*.img-bg{
  background: url(../images/home-msg.jpg) no-repeat center top fixed;
  background-size
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}*/
/* navbar section */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color:#fff;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    height: 80px;
    /*    background-color: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;*/

}

.menu-scroll .main_menu_bg{
    margin-top: 0px;
    background-color: transparent;
    height: 80px;
}
.menu-scroll .main_menu_bg .nave_menu {
    margin-top:0px;
}
.main_menu_bg{
    margin-top: 0px;
    background-color: #7fafff;
    border-bottom: 1px solid #ddd;
    height: 155px;
    transition: all 0.3s;
}
.main_menu_bg .navbar-default {
    background-color: transparent; 
    border-color: transparent; 
    transition: all .3s;
    margin: 15px auto;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color:#000000;
}
.main_menu_bg .nave_menu {
    margin-top:50px;
    transition: all 0.6s;
}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #000000;
    background:url(../images/line.png) no-repeat scroll 15px 40px;
}

.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 0.875rem;
    color: #333;
}
.navbar-brand>img {
    max-width: 80%;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color:transparent;
    color:#ffe1bd;

}
.dropdown-menu>li>a{
    line-height: 4;
}
/*.navbar-nav>li>.dropdown-menu{
    margin-top:20px;
}*/


/*home section*/
.main_home{
    margin-top:85px;
    padding: 140px 0px;
    position: relative;

}
.main_home h1{
    color: #fff;
    padding-bottom: 25px;
}
.main_home p.subtitle{
    color: #000;
    padding-bottom: 25px;
    font-size:1.5rem;
    line-height: 2rem;
    margin:0 auto;
}
.main_home_slider{
    margin-top:70px;
}
.single_home_slider{
    margin-top:70px;
    background:url(../images/homebg.jpg) no-repeat top center;
    position: relative;
}
.main_home_slider .owl-controls{
    position: absolute;
    right:1%;
    top:50%;
    z-index: 99;
}
.home .owl-theme .owl-dots .owl-dot {
    display: block;
    zoom: 1;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
    border:0;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 2px 10px;
    background: transparent;
    border:1px solid #000;
    display: inline-block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 0px; 
    -moz-border-radius: 0px;
    border-radius: 0px;
    transform: rotate(45deg);
}


/*========================================================================
service section css
==========================================================================*/
.head_title{
    margin-bottom:60px;
}
.head_title h2{
    font-size:3.125rem;
    color:#223d61;
}
.head_title p{
    font-size:1rem;
}


/*=======================================================================
                        Work sectin style
=========================================================================*/
.main_mix_content{
    overflow: hidden;
}
.main_mix_content .single_mixi_portfolio{
    margin-bottom:30px;
}


/*====================================================================
 Team section Style
======================================================================*/

.main_team_area .single_team .team img{
    margin-bottom:20px;
    width:168px;
    height: 168px;
    margin:20px auto;
}
.main_team_area .owl-controls{
    margin-top:50px;
}
.main_team_area .owl-nav{
    position: absolute;
    top:15%;

}
.main_team_area .owl-carousel .owl-controls .owl-nav .owl-prev{
    float: left;
    position: absolute;
}
.main_team_area .owl-carousel .owl-controls .owl-nav .owl-next {
    float: right !important;
    position: relative;
    right:-1350%;
}
.main_team_area .owl-theme .owl-nav [class*='owl-'] {
    color: black;
    font-size: 3rem;
    margin: 5px;
    padding: 4px 7px;
    background: transparent;
}
.main_team_area .owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: white;
}


/*===================================================================
                    Clients Section Style
=====================================================================*/
.single_left_text{
}
.slider-pro .sp-slides.sps_slider{
    height: 200px !important;
}
.slider-pro p.sp-layer.right_sp_layer {
    padding-top: 40px;
}

/*===================================================================
                    Contact section style
=======================================================================*/
.contact{
    background: url(../images/tuchbg.jpg) no-repeat top center;
    background-size: cover;
    position: relative;
}

.main_contact .head_title.whitetext h1{
    color:#fff;
}
.main_contact label{
    font-family: 'montserratlight';
    font-size:1.125rem;
    font-weight: 300;
    margin-bottom:10px;
}
.main_contact .form-control {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 6px 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: transparent; 
    background-image: none;
    border-top: 1px solid #555;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.main_contact .single_contant_left input[type="submit"]{

}

.main_contact textarea.form-control {
    height: auto;
    border-bottom: 1px solid #333;
}

.main_contact .single_message_right_info{
    display: inline-block;
    width: 100%;
    margin-top: 65px;
}

.single_message_right_info li{
    font-size: 1.125rem;
    display: block;
    width: 100%;
    margin-bottom: 40px;
    overflow: hidden;
    line-height: 1.5rem;
}
.single_message_right_info li i{
    padding: 5px;
    font-size:1rem;
    float: left;
    width:8%;
    display: inline-block;
    text-align: center;
}
.single_message_right_info li span{
    display:inline-block;
    float: left;
    width:90%;

}
.contact_socail a i{
    font-size:0.8125rem;
    color:#000;
    background: #fff;
    text-align: center;
    width:40px;
    height: 40px;
    line-height: 40px;
    margin-left:10px;
}
.contact_socail a:hover i{
    background: #ffe1bd;
    color:#fff;
}



/*==================================================================
                    footer section
====================================================================*/
.footer{
    border-top:1px solid #d8d8d8;
}
.copyright_text p{
    color:#aaa79e;
    font-size:0.8125rem;
    /*    line-height: 25px;*/
    padding: 40px 20px;
    max-width: 100%;
}
.copyright_text p i{
    padding:0px 10px;
    color:#ffcb93;
}
.copyright_text p a{
    padding:0px 10px;
    color:#ffcb93;
}


/* scrollup */

.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #ffcb93;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}





/*====================================================================
                         About Page Style
======================================================================*/

.main_about_area .separator2{
    margin-top:0px;
    margin-bottom: 40px;
}
.main_about_area .single_about_left_text{
    width:80%;
    margin:40px auto;
}
.main_about_area .single_about_left_text h4{
    line-height: 3rem;
}


/*======================================================================
                    instagram Section
-=======================================================================*/
.instagram-thumbnails img{
    width: 18%;
    display: inline-block;
    margin: 5px;
}






/*========================================================================
                Service Page One Style
==========================================================================*/

.main_events_area{}
.main_events_area .single_events span{
    display: inline-block;
}
.main_events_area .single_events p{
    font-size:1.875rem;
    line-height: 2rem;
}
.main_events_area .single_events span.e_text{}
.main_events_area .single_events span.separator3{
    margin: 10px 50px;
}
.main_events_area .single_events span.e_price{
    font-family: 'montserratbold';
    font-size:2.5rem;
}
.main_events_area .single_events span.e_text1{
    margin-left:20px;
    color:#8e8e8e;
}
.main_events_area .single_events.events_btn .btn{
    margin-top:0px;
}





/*=====================================================================
                    Works page style
=======================================================================*/
.single_mixi_portfolio{
    position: relative;
}
.single_work_overlay{
    background: #FFE1BD;
    width:80%;
    height: 80%;
    left:10%;
    top:10%;
    position:absolute;
    padding-top: 15%;
    opacity: 0;
    transition: all 0.6s;
}
.single_work_overlay.single_work_overlay2{
    padding-top: 40%;
}
.single_mixi_portfolio:hover .single_work_overlay{
    opacity: 1;
}




/*=====================================================================
                    Work1 page style
=======================================================================*/

.main_work1_area{}
.main_work1_area .main_work1_content{
    padding-top:130px;
}
.main_work1_area .owl-theme .owl-nav [class*='owl-'] {
    color: #989898;
    background: transparent;
    font-size:1.125rem;
}
.main_work1_area .owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    top: -880px;
}

.main_work1_area .owl-theme .owl-dots .owl-dot span{
    border-radius:50%;
}
.main_work1_area .owl-theme .owl-dots .owl-dot.active span{
    background: #000;
    border: 0;
}

.work_socail a i{
    background: #000;
    color:#fff;
    transition: all 0.6s;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
}

.work_socail a:hover i{
    background: #FFE1BD;
    color:#fff;
}

/* main work1 content section */

.main_work1_content_area{}

.main_work1_content_area .signle_work1_left {
    width: 80%;
    margin: 0px auto;
}


/*main work1 team section */
.main_work1_team_area{}
.main_work1_team_area .owl-theme .owl-dots .owl-dot span{
    border-radius:50%;
}
.main_work1_team_area .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #000;
}

.main_work1_team_area .owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    top: 40px;
    position: relative;
}

.main_work1_team_area .single_work1_team .team{
    margin-top:30px;
}


/*==================================================================
                Blog Page Style
====================================================================*/
.blogmix .mix{
    display: none;
}
.blogmix in{
    overflow: hidden;
}
.single_service{
    min-height: 555px;
}
.blog_readmore_btn{
    display: block;
    width:100%;
    overflow: hidden;
}
ul li.filter{
    cursor:pointer;
}

/*==================================================================
                BlogInner Page Style
====================================================================*/

.main_bloginner_area{}
.main_bloginner_content{}
.main_bloginner_content .single_bloginner img{
    width:100%;
}
.single_bloginner h1{
    font-size:3rem;
    margin-bottom: 1rem;
}
.single_bloginner.s_blogIner_4.single_bloginner_bottom_heading{
    width:80%;
}
.single_bloginner.s_blogIner_4.single_bloginner_bottom_heading h4{
    letter-spacing: 1px;
    line-height: 3rem;
}



/*=======================================================================
                    Cantact Us Page Style 
=========================================================================*/

.contactus .form-control{
    color:#333;
}
.ourmap {
    width: 100%;
    height: 700px;
}