
div.vertical_form_box
{
padding: 20px 24px;
background-color: #84c8f0;
text-align: center;
width: 300px;
margin: 30px auto;
border-radius: 9px;
border: 1px solid #2012e7;
}

div.page, .comment_div  {
border: solid 1px #d2d2e0;
padding: 12px;
margin: 8px 0;
background-color: #fff;
text-align: left;
position: relative;
overflow-x: hidden;
}
	
.reply_div {
margin: 15px 0 15px 47px;
background-color: #fff;
text-align: left;
position: relative;
}

.reply_text_div {
display: inline-block;
width: 89%;
}
	
.dialogBoxDiv {
display:none;
border:solid thin #000;
background-color:#fff;
padding:12px;
position: fixed;
z-index: 195;
width: 400px;
overflow: auto;
top: 8%;
max-height: 330px;

/*Center align vertically and horzontally */
left: 0; right: 0;
margin: auto;

}

.loadingDiv {
background-image: url("../image/icon/loading.gif"); 
background-position: center;
background-repeat: no-repeat;
background-size: 16px 20px;
height: 18px;
width: 22px;
display: inline-block;
float: left;
}

.loadingDiv2 {
background-image: url("../image/icon/loading.gif"); 
background-position: center;
background-repeat: no-repeat;
background-size: 16px 20px;
height: 18px;
width: 22px;
display: inline-block;
}

.loadingDivLarge {
background-image: url("../image/icon/loading.gif"); 
background-position: center;
background-repeat: no-repeat;
background-size: 100px 50px;
background-color: #b4c0c1;
height: 250px;
width: 99%;
display: block;
}

/*Shows loading image while actual image is downloading*/
/*
.loadingImg {
  background: transparent url("../image/icon/loading.gif") center no-repeat;
} */

#groupSelectDiv {
padding: 2px 10px 10px 15px;
max-height: 250px;
overflow-y: auto;
display: none;
}
	
.long_div {
	height:40px;
	background-color: #fff;
	padding: 15px;
}

.dialogBoxHeading {
padding: 8px;
background-color: #3366cc;
color: #fff;
}
	
#myImagesDiv {
	text-align: left;
	max-height: 290px;
	overflow: auto;
        min-height: 30px;
}

.medium_profile_pic {
	float:left;
	margin-right:8px;
	width:47px;
	height:44px;
}

.small_profile_pic {
	float:left;
	margin-right:8px;
	width:40px;
	height:38px;
}

.userPicDiv {
display:inline-block;
width: 115px;
height: 148px;
margin: 8px 10px;
overflow: hidden;
}

.userPic {
width:100px;
height:100px;
}
	
.image_preview {	
    width: 130px;
    height: 85px;
    margin: 5px 10px;
    border: solid 1px #c2d1f0;
    background: url("../image/icon/loading.gif") center no-repeat;
}
	
.pageimage {	
    border: solid 1px #c2d1f0;
    width: 300px;
    min-height: 19px;
}

.page_video {
width: 650px;
height: 400px;
}

.page_video_container {
text-align: center;
display: block;
padding: 7px 2px;
}

.pageimage_container {
position: relative; 
display: inline-block;
}

#email_status, #pword_status, .red {
	color: #cc0000;
}

.pagetitle {
font-size: 1.7em;
margin-top: 5px;
margin-bottom: 18px;
border-bottom: solid 3px #c2c2d6;
}

.smalltext {
font-size: 85%;
}

.styled_quote {
padding: 10px 18px;
background-color: #f0f5f5;
font-size: 0.9em;
border-left: solid 2px #adc2eb;
position: relative;
}

pre {
padding: 5px 25px;
background-color: #e0e0eb;
min-width: 300px;
width: 92%;
overflow: auto;
margin: 5px 10px 18px;
font-size: 0.9em;
position: relative;
}

.big_icon {
width: 65px;
height: 65px;
margin-top: 10px;
margin-right: 10px;
}

.big_icon:hover {
border-left: solid 2px #ffff66;
border-right: solid 2px #ffff66;
}

.big_icon_div {
width: 99%;
overflow-x:auto;
}

.radio_div {
margin: 15px 0;
}

.hiddenDropMenu
{
display:none;
position:absolute;
margin:0;
right: 3px;
top: 16px;
width: 180px;
display: none;
z-index: 180;
}

.cmtControlsDiv {
clear: both;
margin: 10px 0 0;
border-top: solid 1px #d1d1e0;
padding-top: 5px;
}

.cmtReplyControlsDiv {
display:none;
}

.alignLeft {
float: left;
margin-right: 15px;
}

.alignRight {
float: right;
margin-left: 15px;
}

.alignCenter {
display: block;
text-align: center;
}

.spnFollow {
background-color: #cadbf7;
border: solid 1px #8b9ebc;
padding: 3px 3px 1.8px;
position: relative;
top: 5px;
}

/*----------Buttons/Input------*/
button, input {
font-size: 1.03em;
}

button.btnLarge {
width: 250px;
padding: 9px 15px;
border-radius: 9px;
}

.txtCmtReply {
font-size: 0.9em;
width: 95%;
margin: 10px 0 5px;
}

.btnReply, .btnCancelReply {
font-size: 0.9em;
}

.showReplyControls {
cursor: pointer;
font-size: 0.8em;
}

.btnMoreOptions {
width: 20px;
height: 12px;
right: 4px;
top: 4px;
position: absolute;
}

.btnAdvanced {
width: 27px;
height: 27px;
margin: 5px 2px 2px 5px;
float: right;
}

.hiddenDropMenu button {
width:100%;
background-color: #f0f0f5;
color: #000;
}

button {
background-color: #3366cc;
color: #fff;
outline: none;
}

button:disabled {
background-color: #c6d9ec;
}

button:hover, .btnClose:hover, .btnAdvanced:hover, #moreOptionsDiv button:hover {
background-color: #cce0ff;
color: #000080;
}

.btnClose {
width:20px;
height:20px;
cursor: pointer;
position: absolute;
top: 2px;
right: 2px;
}

.btnCloseLeft {
width:22px;
height:22px;
border-radius: 50%;
border: solid 1px #3b3d44;
cursor: pointer;
position: absolute;
left: 0;
top: 0;
}

.btnCloseLeft:hover  {
width:24px;
height:24px;
border: solid 3px #63dfed;
}

.greybutton {
	background-color: #f0f0f5;
	color: #000;
}

.like_button {
height: 22px;
width: 22px;
}

.like_button:hover {
width: 25px;
filter: grayscale(80%);
}

.grey_img {
filter: grayscale(100%);
} 

#txtgrpname {
min-width: 70%;
}

#txtSearch {
width: 410px;
}

#btnSearch {
width: 28px;
height: 28px;
margin-left: -4px;
margin-bottom: -8px;
}

#btnSearch:hover {
filter:contrast(150%);
}

/*----------End of Buttons/Input------*/


/*---show more button----------*/
.show_more_replies_link , .hide_replies {
float: right;
font-size: 0.75em;
cursor:pointer;
}

.show_more, .show_more_folwing, .show_more_groups, .show_more_members, .show_more_comments {
background-color: #f8f8f8;
background-image: -webkit-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
background-image: linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
border: 1px solid;
border-color: #d3d3d3;
color: #333;
font-size: 12px;
outline: 0;

cursor: pointer;
display: block;
padding: 10px 0;
text-align: center;
font-weight:bold;
}

.loading, .loading_folwing , .loading_groups, .loading_members {
background-color: #e9e9e9;
border: 1px solid;
border-color: #c6c6c6;
color: #333;
font-size: 12px;
display: block;
text-align: center;
padding: 10px 0;
outline: 0;
font-weight:bold;
}

.loding_txt, .loding_txt_folwing, .loding_txt_groups, .loding_txt_members {
background-image: url(../image/icon/loading.gif);
background-position: left;
background-repeat: no-repeat;
border: 0;
display: inline-block;
height: 16px;
padding-left: 20px;
}

/*---end of show more button----------*/

.page_list, .following_list, .group_list {
padding-top: 4px;
padding-bottom: 4px;
overflow: auto;
text-align: left;
}

.profile_section {
margin-top:15px;
background-color: #eff5f5;
padding: 0 8px 4px;
border-top: solid 2px #c2c2d6;
}

.profile_section_title {
padding: 5px 15px;
}

.float_right_div {
float: right;

}

@media only screen and (max-device-width: 60em) {
	.pageimage {	
	max-width: 480px !important;
	height: auto !important;
	}
	
	.page_video {
	width: 480px !important;
	height: 300px !important;
	}
	
	.search_bar {
	width: 75%;
	}
		
	#txtSearch {
	width: 80%;
	}
}

@media only screen and (max-device-width: 10cm) {

	.dialogBoxDiv {
	width: 88%;
	}
	
	#moreOptionsDiv button {
	height: 40px;
	}
	
	.pageimage {	
	max-width: 308px !important;
	height: auto !important;
	}
	
	.page_video {
	width: 308px !important;
	height: 197px !important;
	}
	
	.reply_text_div {
	width: 79%;
	}

}

