#btnCoverPhoto {
visibility: hidden;
width: 50px;
background-color: #fff;
position: absolute;
z-index: 5;
top: 0; 
left: 0; 

}

#btnProfilePic {
visibility: hidden;
width: 40px;
background-color: #fff;
}

#btnCoverPhoto:hover, #btnProfilePic:hover  {
background-color: #ffff66;
color: #000080;
}


#coverphotoDiv {
height: 200px;
position: relative;
background-color: #d1d1e0;
z-index: 1;
}

#coverphoto {
width: 100%;
height: 100%;
}

#coverphotoDiv:hover > #btnCoverPhoto {
visibility: visible;
}

div.large_profile_pic {
	margin-right:4px;
	width:110px;
	height:110px;
	bottom: 15px;
	left: 15px;
	position: absolute;
	background-color: #fff;
	background-size: 100% 100%;
    background-repeat: no-repeat;
	border: solid 3px #fff;
}

div.large_profile_pic:hover > #btnProfilePic {
visibility: visible;
}

#photoUpdateDiv, #profilePicUpdateDiv {
text-align:center;
border:solid thin #000;
background-color:#e0ebeb;
padding:12px;
display:none;
position: absolute;
z-index: 190;
width: 90%;
min-height: 300px;
top: 65px;
left: 50%; /*align center*/
transform: translate(-50%, 0); /*align center*/
max-height: 500px;
overflow: auto;
}

#loading_coverphoto {
display:none;
position: absolute;
z-index: 8;
width: 60px;
top: 45%;
left: 45%;

}

#loading_profilephoto {
display:none;
position: absolute;
z-index: 8;
width: 40px;
top: 40%;
left: 40%;

}
