:root {
    --site-main-bgcolor: #7fafff;
    --site-main-color: #fff;
    --site-main-bordercolor: #3f71c9;
        
 /*Example usage:
 color: var(--site-main-bordercolor);
 */	
}

html, body {
height:100%;
font-size:17px;
}

body 
{
margin:0;
background-color: #ebebfa;
display: flex;
}

div.wrapper 
{
width: 99.9%;
min-height:100%;
margin:0 auto;	     
}	

div.rightpane
{ 
position: fixed;
z-index: 190; /* elements with higher index are displayed in front of elements with lower index */
margin: 1px 0px 0px 4px;
padding: 0px 6px 4px;
width: 80px;
background-color: #ebebf5;
border: 1px solid #a7bdd3;
top: 60px;
right:0; 
height: 70vh;
border-radius: 10px;
}

div.content 
{
margin: 3px auto 1px;
padding: 15px;
text-align: justify;
width: 880px;
min-height: 100vh;
}

div.menu 
{	
position: fixed;
z-index:200; /* elements with higher index are displayed in front of elements with lower index */
width: 100%;
height: 45px;	
background-color: var(--site-main-bgcolor);
color: #ffffff;
margin: 0;
border-bottom: 1px solid var(--site-main-bordercolor);
padding:5px 0px 2px;
}

.left_menu_div {
float: left;
padding: 5px;
}

.right_menu_div {
float: right;
padding: 5px;
}

div.adjustdiv
{	
height:36px;
}
    

#footer 
{
width: 100%;
min-height:65px;
background-color: var(--site-main-bgcolor);
font-size:0.97em;
font-style:italic;
clear:both;
padding: 20px 0;
color: #fff;
}

img.site_logo {
vertical-align: middle;
width: 38px;
height: 38px;
}

a
{
text-decoration:none;
color:#6c6cee;
font-family:Tahoma, Sans-Serif;
}

a:hover 
{
    color:#a14100;
}
    

div.menu a
{
    color: #fff;
    display:block;
    padding:0 4px 1px;
    margin-right:7px;
    margin-bottom:4px;
}

div.menu a:hover
{
background-color: #4696ff;
}

div.menu li 
{
    float:left; 
	list-style-type:none;
}


/*Dropdown menu styling */
div.menu li  .dropDownMenu
{
    display:none;
    position:absolute;
	z-index:210;
    margin:0;
}

div.menu li:hover > .dropDownMenu
{
    display:block;
    
}

div.menu li:hover > .dropDownMenu li
{
    float:none;
    font-size:0.8em; 
    margin-left: -100%;
	margin-top: -5px;
	margin-bottom: 0;
}

/* Links to My profile, My pages, Log out, etc */
div.menu li:hover > .dropDownMenu li a
{
background-color: #f0f0f5;
color: #000;
width: 170px;
padding: 6px 10px;
border: solid 1px #494d54;
       
}

/*Tooltip Arrow of dropDownMenu*/
.dropDownMenu ::after {
content: "";
position: absolute;
bottom: 103%;
left: 4%;
border-width: 8px;
border-style: solid;
border-color: transparent transparent #f0f0f5 transparent;
}

div.menu li:hover > .dropDownMenu li a:hover
{
    background-color: #a7c7f2; 
	color: #000;
       
} /*End of Dropdown menu styling */

/*paginate styles */
.paginate_div
{
   text-align: center;
   font-family:Tahoma, Sans-Serif;
   font-size: 1em;
}

.paginate_div a
{
   background-color: #60d5f2;
   border: solid 1px #636768;
}

.paginate_div a:hover
{
   background-color: #aeedf9;
   cursor: pointer;
}

.paginate_selected
{
   background-color: #eaf8fc;
   border: solid 1px #636768;
}
/*end of paginate styles */

    
		
	
@media only screen and (max-device-width: 60em) {

		html
		{
		font-size:100%;
		} 
		
		div.menu 
		{	
		position: static;
		min-height: 90px;	
		height:auto;
		}
		
		.left_menu_div {
		float: none;
		}
		
		/* Links to My profile, My pages, Log out, etc */
		div.menu li:hover > .dropDownMenu li a
		{
		width: 180px;
		padding: 13px 10px;
		}
		
		
		div.adjustdiv
		{	
			display:none;
		}
		
		
		div.content 
		{
		width: 96%;
		margin: 0;
		padding: 1.4%;			
		}
		
		div.rightpane
		{    
		min-width: 96%;
		margin: 0;
		padding: 1.3%;
        position: relative;
        height: 76px;
        left: 2px;
        right: auto; /* reset back to browser default */
        top: auto; /* reset back to browser default */
        }
		 
		
		div.menu a
		{
		margin-right:10px;

		}
		
	
	}
	
	@media only screen and (max-device-width: 10cm) {
	
		.imgcenter
		{
		width:95% !important;
		height:auto !important;
		}

	}

    
